
.idea/

build/

.kotlin/

.gradle/
gradlew
gradlew.bat
gradle/wrapper/
gradle.properties

# Local Android SDK path
local.properties

app/google-services.json

#Firebase
.firebaserc
firebase.json
firebase-debug.log